<% include ./partials/_header.ejs %>
    <div class="container index">
        <header class= 'index-header'>
        <h1>Summer Vibes</h1>
        <h2>still working on it</h2>
        </header>

        <main> 
            <h3>some text here</h3>
        </main>
    <div> 
<% include ./partials/_footer.ejs %>



