<% include ./partials/_header.ejs %>
<form action="/:id<%= item._id %>?_method=DELETE" method="POST" id="delete-form">
    <div class="form-inputs">
        <h2>Delete an item from the store.</h2>
        <div class="form-group row">
            <label class="col-sm-2" for="id">ID:</label>
            <div class="col-sm-10 input-wrapper">
                <input type="text" id="ID" name="ID" placeholder="ID" value="<%= item._id %>" />
            </div>
        </div> 
        
        <div class="input-wrapper-even">
            <button id="delete-item" class="btn btn-danger">Destroy</button>
            <script>
                const deleteBtn = document.getElementById('delete-item');
                const deleteForm = document.getElementById('delete-form');
                deleteBtn.addEventListener('click', e => {
                    e.preventDefault();
                    deleteForm.submit();
                });
            </script>
        </div>
    </div>
</form>
<% include ./partials/_footer.ejs %>