<% include ./partials/_header.ejs %>
<div class="container index">
  <h1>Summer Vibes</h1>
  <main> 
    <div class="jumbotron">
      <img class="img-fluid" src= "/images/index_img.png" />
    </div>
  </main>
<div> 
<% include ./partials/_footer.ejs %>



