<% include ./partials/_head.ejs %>
<div class="container index">



  <header class= 'index-header'>
  <h1>Summer Vibes</h1>
     <button class="btn btn-dark" onclick=location.href="/Shop"> Shop </button>
    
    <div class= "index-buttons"> 
      <button class="btn btn-dark btn-sm" onclick = location.href="/login"> Login </button>
      <button class="btn btn-dark btn-sm" onclick=location.href="/signup"> Signup </button> 

      
     
    </div>
  </header>





  <main> 
    <div class="jumbotron">
      <img class="img-fluid" src= "/images/index_img.png" />
    </div>
  </main>
<div> 
<% include ./partials/_footer.ejs %>



