<% include ../partials/_head.ejs %>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/shop">Shop</a>
    <span class="nav-items">
        <a class="nav-link" href='/shop/mens'>Men's</a>
        <a class="nav-link" href='/shop/womens'>Women's</a>
        <a class="nav-link" href='/shop/kids'>Kid's</a>
        <a class="nav-link" href='/profile'>Manage Accoount</a>
        <a class="nav-link" href='/about'>About Us</a>
        <a class="nav-link" href='/logout'>Log Out</a>

    </span>
</nav>