<% include ../partials/_header.ejs %>

<!--
    - The signup form takes advantage of more bootstrap
    - again, I got most of the code straight from the bootstrap docs and added customizations.
    - every form on my website uses this same exact markup, just with different fields and request URLs.
-->

<form method="POST" action="/accounts/signup">
    <div class="form-inputs">
        <h2>Sign Up</h2>
        <div class="form-group row">
            <label class="col-sm-2" for="name">Name</label>
            <div class="col-sm-10 input-wrapper">
                <input type="text" id="name" name="name" placeholder="Name" />
            </div>
        </div> 
        <div class="form-group row">
            <label class="col-sm-2" for="email">Email</label>
            <div class="col-sm-10 input-wrapper">
                <input type="email" id="email" name="email" placeholder="Email"/>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-sm-2" for ="password">Password</label>
            <div class="col-sm-10 input-wrapper">
                <input type="password" id="password" name="password"/>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-sm-2" for="password2">Confirm</label>
            <div class="col-sm-10 input-wrapper">
                <input type="password" id="password2" name="password2"/>
            </div>
        </div>
        <div class="input-wrapper-center">
            <input class="btn btn-dark" type="submit" value="Sign Me Up!"/>
        </div>
    </div>
</form>
<% include ../partials/_footer.ejs %>